body, html {
  touch-action: manipulation;
  margin: 0;
}

body {
  background-image: url('../assets/animal-well.webp');
  background-color: black;
  background-size: cover;

  font-family: Tahoma, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 767px) { padding: 0 10px }
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  display: flex;

  .content {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .footer {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    flex: 0;

    a, a:hover { color: #fff }
  }
}
